.search-container{
    display: flex;
    flex-direction: row;
  
    width: 600px;
    height: 50px;
    background-color: white;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    
   .search-icon{
    color: gray;
    width: 1.5em;
    height: 1.5em;
   }
   .search-input-container{
    display: flex;
    flex: 1;
   }
   .search-input{
    width: 100%;
    border: none;
    font-size: large;
    padding-left: 1em;
   }
   .search-input:focus{
    outline: none;
   }
   
   .search-icon-container{
    display: flex;
    align-items: center;
   }

}

